@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color-primario: #F3F5FC;
    --color-secundario: #0A3871;
    --color--terciario: #495057;
    --color--desencriptar: #D8DFE8;
    --color--titulos: #343A40;


    --fuente-inter: "Inter", sans-serif;
    --fuente--encriptar: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: var(--color-primario);
    font-family: var(--fuente-inter);
}

.texto {
  position: absolute;
  width: 42%;
  height: 50%;
  left: 20%;
  top: 15%; 
  border: none; 
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  background-color: var(--color-primario);
  
}
.texto::placeholder {
    color: var(--color-secundario);
}

.texto:focus,.texto:active{
    border: none;
    outline: none; 
}

.instrucciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap:8px;
    position: absolute;
    width: 80%;
    left: 20%;
    top: 76%;
}

.instrucciones p {
    font-family: var(--fuente-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--color--terciario);
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.botones{
    display: flex;
    flex-direction: row;
    align-items: initial;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 20%;
    top: 80%;
}

.btn {
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    padding: 2%;
    gap:8px;
    width: 25%;
    border-radius: 24px;
    font-family: var(--fuente-inter);
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
}

.btn:hover{
    margin: 0.3%;
    margin-right: 24px;
    width: 24.5%;
    padding: 1.8%;
}

#btn-encriptar {
    background-color: var(--color-secundario);
    color:var(--fuente--encriptar);
    border: 1px solid var(--color-secundario);

}

#bnt-desencriptar{
    background-color: var(--color--desencriptar);
    color: var(--color-secundario);
    border-color: var(--color-secundario);
    border: 1px solid;
}


.salidatexto{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 92%;
    left: 65%;
    top: 5%;
    background-color: var(--fuente--encriptar);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

}

.mensaje-encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 49%;
    text-align: center;
}

.mensaje-encriptado h2{
    width: 60%;
    font-family:  var(--fuente-inter);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: var(--color--titulos) ;
}

.mensaje-encriptado p{
    width: 80%;
    font-family: var(--fuente-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--color--terciario);
}

#persona {
    display: show;
    position: absolute;
    width: 70%;
    height: 40%;
    top: 8%;

}

.respuesta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 30px;
    position: absolute;
    width: 100%;
    height: 90%;
    top: 5%;
    text-align: center;
    

}

#textoEncriptdo {
    display: none;
    width: 80%; 
    height: 75%;
    top: 15%;
    border: none; 
    background-color: var(--fuente--encriptar);
    font-family: var(--fuente-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color--terciario);

    }
#textoEncriptdo:focus,#textoEncriptdo:active{
        border: none;
        outline: none; 
}

#copiar{
    display: none;
    align-items: center;
    padding: 5%;
    width: 65%;
    left: 12%;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    font-family: var(--fuente-inter);
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: var(--color-secundario);
    background-color: var(--fuente--encriptar);
    border: 1px solid var(--color-secundario);    
}

#copiar:hover{
    margin: 0.3%;
    width: 63.5%;
    padding: 4.8%;
}

/* responsive desing para la pagina*/
@media (max-width: 57.5em) {
    .container{
        display: flex;
        flex-direction: row;
        
    }

    .encriptar{
        width: 100%;
    }

    .texto{
        width: 90%;
        height: 50%;
        left: 5%;
        top: 5%;

    }

    .instrucciones{
        width: 90%;
        left: 5%;
        top: 58%;

    }

    .instrucciones p{
        font-size: 16px;
    }

    .botones{
        width: 100%;
        left: 5%;
        top: 61%;
    }

    #btn-encriptar,#bnt-desencriptar {
        width: 43%;
        border-radius: 16px;
        margin-right: 24px;
    }

    .btn:hover{
        margin-right: 24px;
        margin: 0.3%;
        width: 40.5%;
        padding: 1.8%;
    }

    .salidatexto{
        width: 91%;
        height: 28%;
        left: 5%;
        top: 69%;
        
    }

    .mensaje-encriptado{
        width: 100%;
        top: 5%;

    }

    .salidatexto img {
        top: 0;
        display: none;
        visibility: hidden; 
    }

    .respuesta{
        width: 100%;
        height: 90%;
        left: 0%;
        top: 5%;
        gap: 8px;
        
    }

    #textoEncriptdo{
        width: 90%;
        height: 65%;
        left: 0%;
        
    }

    #copiar{
        width: 90%;
        padding: 3%;
        border-radius: 16px;

    }

    #copiar:hover{
        margin: 0.3%;
        width: 88.5%;
        padding: 1.8%;
    }




}

@media (max-width: 23.5em){
    .texto{
        height: 40%;
    }
    .instrucciones{
        top: 48%;
    }
    .botones{
        flex-direction: column;
        top: 50%;
    }
    #btn-encriptar,#bnt-desencriptar {
        width: 90%;
        border-radius: 16px;
        margin: 8px;
        padding: 5%;
        
    }

    .salidatexto{
        width: 91%;
        height: 33%;
        left: 5%;
        top: 65%;
        
    }

    .respuesta{
        top: 0%;
        gap: 8%;
    }

    #textoEncriptdo{
        padding-top: 6%;
        height:80%;
        
    }
    #copiar{
        padding: 6%;
    }

}   